<div class="container" align="center">
	<div class="tagline">
		What's happening. Here. Now.
	</div>
	<a href="<%=user_omniauth_authorize_path(:facebook)%>">
		<div class="facebook">
			Join with Facebook
		</div>
	</a>
</div>