$rallyblue: #209cf5;

html, body, p, div {
	font-size: 22px;
	font-family: "Nexa Light";
}

body{
	background: #F6F6F6 !important;
}

.header{
	border-bottom: solid 2px $rallyblue;
	background: white;
	margin-bottom: 20px;
}

.rally-logo{
	width: 150px;
}

.tagline{
	color: $rallyblue;
	font-size: 34px;
	line-height: 36px;
	padding: 30px;
}

.map {
	width: 100%;
	text-align: center;
	height: 600px;
}

#map-canvas{
	margin-bottom: 20px;
	background: transparent url(loading.gif) no-repeat center center;
}


.event-box {
	overflow: hidden;
	width: 100%;
	vertical-align: top;
	border: solid 1px #CCC;
	border-radius: 3px;
	background: #FFFFFF;
	padding: 10px;
	cursor: pointer;
	display: inline-block;
	margin: 0px 0px 20px 0px;
	text-align: left;
	max-width: 500px;
	img {
		width: 120px;
		height: 120px;
		border-radius: 3px;
	}
}

.event-details {

}

.scrolling-event-inbox{
	max-height: 600px;
	overflow-y: scroll;
}


.event-name {
	font-weight: bold;
	font-size: 24px;
	font-size: 16px;
	line-height: 24px;
	height: 50px;
	overflow-y: hidden;
	color: black;
}

.event-datetime {
	margin-left: auto;
	margin-right: auto;
	font-size: 16px;
	color: black;
}

.calendar{
	width: 70px;
	border-bottom: solid 2px $rallyblue;
	border-right: solid 2px $rallyblue;
	border-left: solid 2px $rallyblue;
	text-align: center;
	.month{
		background: $rallyblue;
		color: white;
		margin-bottom: 10px;
		padding-top: 5px;
		font-size: 14px;
	}
	.day{
		color: black;
		font-size: 18px;
	}
}


.event-distance {
	font-size: 18px;
}






